@import url('https://fonts.googleapis.com/css?family=Boogaloo');

html{
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #acacac;
}

#header-holder{
    width: 100vw;
    height: fit-content;
    position: fixed;
    top: 0px;
    z-index: 15;
}

main {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: black;
    width: fit-content;
    color: white;
    padding: 1em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: auto;
}

h1{
    font-family: 'Boogaloo', cursive;
    text-align: center;
    margin: 0;
}

@media (max-width: 850px) { 
    header{
        width: 45vw;
    }
}

@media (max-width: 650px) { 

    header{
        width: 95vw;
        right: 1vw;
        padding:.5em;
    }
}