/* eslint-disable */

:local(.nav) {
    text-align: center;
      
    a, a:visited{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #A03030;
      transition: all .2s ease-in-out;
      font-size: 1.5em;
    }

    a:hover, a:visited:hover {
        transform: scale(1.1);
    }
}
