@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800i');

#dog-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

.show {
  align-items: flex-start;
  align-content: flex-start;
}

.intro, .loading {
  align-items: center;
  align-content: center;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  display: inline-block;
  flex: 0 0 auto;
}

h2{
  margin: 0;
  font-style: italic;
  font-size: 1.5em;
  font-weight: 800;
}

p img {
  height: 30vw;
  border: 5px solid black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wide {
  width: 100%;
}

.wide:first-child{
  height: 1vh;
}

.gif{
  width: 19vw;
  height: 14vw;
  background-size: cover;
  border: 5px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.loading .gif{
  width: 50vw;
  height: 40vw;
}

.loading p:first-child {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 650px) { 
  #dog-images{
    padding: .3em;
  }

  .wide:first-child{
    height: 2vh;
  }

  p img {
    width: 85vw;
    height: auto;
    margin: 0em;
  }

  .loading .gif {
    width: 85vw;
    height: 72vw;
    margin: 0em;
  }

  .gif {
    width: 25vw;
    height: 18vw;
    margin-bottom: 0;
  }

  .loading p:first-child {
   font-size: 1.8em;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}