@import url('https://fonts.googleapis.com/css?family=Boogaloo');

html{
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #acacac;
}

header {
    background-color: black;
    width: 35vw;
    height: 5em;
    color: white;
    padding: 1em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    position: fixed;
    right: calc((100vw - 35vw)/2);
}

h1{
    font-family: 'Boogaloo', cursive;
    text-align: center;
    margin: 0;
}