#dog-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

p {
  display: inline-block;
  flex: 0 0 auto;
}

p img {
  height: 30vw;
  border: 5px solid black;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  