#breed-select{
    width: fit-content;
    margin: auto;
}

.styled-select{
    padding: .2em;
    border-radius: .2em;
    overflow: hidden;
    background: rgb(160, 48, 48);
    display: inline-block;
    margin: .2em;
}

.styled-select select {
    padding: .2em .3em;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    appearance: none;
    -webkit-appearance: none;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}

.styled-select select:focus {
    outline: none;
}

.styled-select option {
    outline: none;
    background: rgb(160, 48, 48);
    border: none;
    line-height: 1.2em;
}

@media (max-width: 650px) { 

    .styled-select select{
        font-size: .8em;
    }
}