#breed-select{
    width: fit-content;
    margin: auto;
}

.styled-select{
    padding: .2em;
    border-radius: .2em;
    background: rgb(160, 48, 48);
    display: inline-block;
    margin: .2em;
}

.styled-select select {
    padding: .2em .3em;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    text-transform: uppercase;
    color: white;
    font-size: 1em;
}

.styled-select select:focus {
    outline: none;
}

.styled-select option {
    outline: none;
    background: rgb(160, 48, 48);
    border: none;
}

form label {
    display: none;
}

form input, form input:focus {
    background-color: rgb(160, 48, 48);
    border: 0px;
    width: 5em;
    padding: .5em;
    text-transform: uppercase;
    color: white;
    border-radius: .2em;
    font-size: .9em;
}

form input::placeholder{
    color: white;
}

form button {
    background-color: rgb(160, 48, 48); /* Green */
    border: none;
    text-transform: uppercase;
    color: white;
    padding: .5em .7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: .2em;
}

form fieldset {
    display: inline-block;
    border: none;
    margin: 0px;
    margin-top: 1em;
    padding: 0px;
}

@media (max-width: 650px) { 

    .styled-select select{
        font-size: .8em;
    }
}